html, body {
	width: 100%;
}

#h1{
	font-family: century gothic;
	font-size: 30px;
	color:blue;
	margin: 10px;
	padding: 5px;
	text-align: center;
}

#loginmsg {
	border-radius: 2px;
	color: brown;
	font-family: century gothic;
	font-size: 12px;
	padding: 2px 5px;
	width: 50%;
	margin:2px;
	text-align: center;
	background: antiquewhite;
	border: 1px solid #CA4646;
}


.loginbox {
	background: #eee;
	color: blue;
	width: 20%;
	padding: 15px;
    border: 2px solid #DEDEDE;
    border-radius: 2px;
}
.loginbox input{
	align: center;
	border-left: 3px solid blue;
	border-right: 1px solid #eee;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
	width: 90%;
	margin:2px;
	background: transparent;
}

.loginbox input:hover, .loginbox input:active, .loginbox input:focus{
	border-left: 5px solid blue;
	border-right: 1px solid blue;
	border-top: 1px solid blue;
	border-bottom: 1px solid blue;
	color: blue;
	transition: all .1s;
}

input{
	font-size:15px;
	padding: 5px;
	font-family: century gothic;
	color: #464646;
}

#button{
	font-family: century gothic;
	color: blue;
	border: 2px solid blue;
	background: transparent;
	width: 50%;
}

#button:hover, #button:active, #button:focus{
	/*border-left: 5px solid blue;*/
	text-transform: uppercase; 
	transition: all .1s;
}

table{
	margin: 0 auto;
	border-radius: 2px;
	border-collapse: collapse;	
}

th{
	color: blue;
}
th, td {
	font-family: century gothic;
    padding: 10px;
    text-align: left;
}